# Impact.com API Credentials
IMPACT_ACCOUNT_SID=your_account_sid_here
IMPACT_AUTH_TOKEN=your_auth_token_here
IMPACT_PROGRAM_ID=your_program_id_here

# Google Gemini API Key (for AI descriptions)
GEMINI_API_KEY=your_gemini_api_key_here

# Node Environment
NODE_ENV=production

storage_PGPASSWORD=""
storage_NEON_AUTH_BASE_URL=""
storage_NEON_PROJECT_ID=""
storage_POSTGRES_URL_NO_SSL=""
storage_POSTGRES_DATABASE=""
storage_DATABASE_URL_UNPOOLED=""
storage_PGHOST_UNPOOLED=""
storage_POSTGRES_URL_NON_POOLING=""
storage_PGUSER=""

# Upstash Redis config
scrollr_KV_URL=""
scrollr_REDIS_URL=""
scrollr_KV_REST_API_TOKEN=""
scrollr_KV_REST_API_READ_ONLY_TOKEN=""
scrollr_KV_REST_API_URL=""

# Next/Gemini
NEXT_PUBLIC_GEMINI_API_KEY=""

# Impact Affiliate API
IMPACT_PROGRAM_ID=""
IMPACT_AUTH_TOKEN=""
IMPACT_ACCOUNT_SID=""
